html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }
:root { font-size: 15px; }
:focus { outline: none; }
@media only print {
	body * { display: none !important; }
	body:after { content: "Don't waste paper!"; }
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	line-height: 162%;
	color: #343838;
	margin: 0;
	background: #efefef;
}
main {
	background: #fff;
}
.wrap {
	width: 90%;
	max-width: 60rem;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
.wrap--footer {
	padding: 1rem 0;
}
.elemnts--inline p {
	display: inline-block;
	margin-right: 1rem;
}
.wrap--header {
	border-bottom: 1px solid #efefef;
}
.fixed--right {
	position: absolute;
	top: 1.2rem;
	right: 0;
}

.header {
	color: #005F6B;
	font-weight: 400;
}

select {
	border: 1px solid #efefef;
	background: #fff;
	padding: .4rem;
	font-family: inherit;
	font-size: inherit;
	color: #222;
}

textarea {
	display: block;
	width: 100%;
	font-family: 'Source Code Pro', monospace;
	color:#676767;
	font-size:12px;
	background: #f5f5f5;
	border: none;
	padding: 1rem;
	resize: vertical;
}

button {
	display: inline-block;
	font-weight: 600;
	color: #fff;
	background: #00B4CC;
	border: none;
	border-bottom: 4px solid #008C9E;
	padding: 1rem 1.6rem;
	font-size: 110%;
	cursor: pointer;
	border-radius: 3px;

}

.footerdiv {
	border-bottom: 1px solid #efefef;
}

.repo {
	border-top: 1px solid #efefef;
}

.inside {
	margin-left:28px;
	color:#878787;
	font-size:12px;
}

.source {
	font-weight:bold;
	border: 1px solid #efefef;
	padding:10px;
	color:#000;
	margin-left:-28px;
}

.repos-out{
	margin-left:28px;
	color:#676767;
	font-size:12px;
	
}

a {
  transition: color .4s;
  color: #265C83;
}

a:link,
a:visited { color: #265C83; }
a:hover   { color: #7FDBFF; }
a:active  {
  transition: color .3s;
  color: #007BE6;
}

.link { text-decoration: none; }

.right { font-size:12px; }

.feedback input, .feedback textarea {
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    padding: 8px;
    outline: none;
    border: 1px solid #B0CFE0;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
	background: #fff;;
	resize: both;
	width:50%;
	max-width:50%;
	font-family: 'Source Code Pro', monospace;
	color:#676767;
	font-size:12px;
}

